/** General styles (scope: all of lesson) **/
.path-mod-lesson .contents,
.path-mod-lesson .standardtable,
.path-mod-lesson .mform .box.contents,
.path-mod-lesson .invisiblefieldset.fieldsetfix tr {text-align: left;}
.path-mod-lesson #layout-table {width: 100%;}
.path-mod-lesson .edit_buttons form,
.path-mod-lesson .edit_buttons input {display: inline;}
.path-mod-lesson .userinfotable .cell,
.path-mod-lesson .userinfotable .userpicture {vertical-align: middle;}
.path-mod-lesson .invisiblefieldset.fieldsetfix {display: block;}
.path-mod-lesson .slideshow {overflow: auto;padding: 15px;}
.path-mod-lesson .menu .menuwrapper {max-height: 400px;overflow: auto;vertical-align: top;margin-bottom: 10px;}
.path-mod-lesson .menu ul {list-style: none;padding: 5px 0px 0px 5px;margin: 0px;}
.path-mod-lesson .menu ul li {padding-bottom: 5px;}
.path-mod-lesson .skip {position: absolute;top: -1000em;width: 20em;}
.path-mod-lesson .branchbuttoncontainer.horizontal div,
.path-mod-lesson .branchbuttoncontainer.horizontal form {display: inline;}
.path-mod-lesson .firstpageoptions {width:30%;margin-left:35%;margin-top:1em;}
.path-mod-lesson .progress_bar_table,
.path-mod-lesson .progress_bar_completed,
.path-mod-lesson .progress_bar_todo {padding: 0;margin: 0;}
.path-mod-lesson .progress_bar_token {height: 20px;width: 5px;padding: 0;margin: 0;}
.path-mod-lesson .edit_pages_box .addlinks {margin:0;margin-bottom:1em;}
.path-mod-lesson .progress_bar_completed {background-color:green; text-align:right; vertical-align:middle; color:#FFF;}

.path-mod-lesson .resourcecontent {text-align: center;}

.path-mod-lesson .answeroption .fcheckbox > span {
    position: relative;
    float: left;
}

.path-mod-lesson .answeroptiongroup .fgroup > span {
    position: relative;
    width: 100%;
}

.path-mod-lesson .answeroption .fcheckbox input,
.path-mod-lesson .answeroptiongroup input {
    position: absolute;
    top: 2px;
    margin-top: 0px;
    left: 0;
}

.path-mod-lesson .answeroption .fcheckbox label,
.path-mod-lesson .mform .fitem.answeroptiongroup fieldset.fgroup label {
    padding-left: 20px;
    float: left;
}

.path-mod-lesson .answeroption .felement label p:last-child,
.path-mod-lesson .answeroptiongroup .felement label p:last-child {
    margin-bottom: 0px;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox > span {
    float: right;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox input,
.path-mod-lesson.dir-rtl .answeroptiongroup .fgroup input {
    left: inherit;
    right: 0;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox label,
.path-mod-lesson.dir-rtl .mform .fitem.answeroptiongroup fieldset.fgroup label {
    padding-left: 0;
    padding-right: 20px;
    float: right;
}

/**
 * Style for view.php
 **/
#page-mod-lesson-view .password-form .submitbutton {display: inline;}
.path-mod-lesson .reviewessay {width:40%; border:1px solid #DDDDDD; background-color: #EEEEEE;}

.path-mod-lesson.dir-rtl .contents,
.path-mod-lesson.dir-rtl .standardtable,
.path-mod-lesson.dir-rtl .mform .box.contents,
.path-mod-lesson.dir-rtl .invisiblefieldset.fieldsetfix tr {text-align: right;}

/* Countdown timer. */
#lesson-timer {
    text-align: center;
}

.path-mod-lesson .essayungraded {
    background-color: #efcfcf;
}

.path-mod-lesson .essaygraded {
    background-color: #efefcf;
}

.path-mod-lesson .essaysent {
    background-color: #cfefcf;
}

.mod_lesson_main {
    position: relative;
    border: 1px solid #bbb;
}

.mod_lesson_pages {
    height: 500px;
    overflow: auto;
    resize: vertical;
    position: relative;
}

.mod_lesson_main .mod_lesson_page_element {

    /*position: absolute;  specify abs position! */
    /*position: absolute;*/
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin: 1em 0;
    width: 240px;
    height: 100px;
    overflow: auto;
}
/*.mod_lesson_main .mod_lesson_page_element > * {
    padding: 0.25em 0.5em;
}*/
.mod_lesson_main .mod_lesson_page_element header {
    color: #666;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #bbb;
    padding: 5px 10px;
}

.mod_lesson_main .mod_lesson_page_element_body {
    padding: 5px 10px;
    /*overflow: auto;*/
}

.path-mod-lesson .lessonline {
    z-index: -2;
    padding: 0;
    margin: 0;
    height: 1px;
    background-color: black;
    line-height: 1px;
    position: absolute;
    user-select: none;
}

.mod_lesson_menu {
    background-color: #f2f2f2;
    border-bottom: 1px solid #bbb;
    min-height: 50px;
    padding: 0 20px;
    user-select: none;
    z-index: 3;
}

.mod_lesson_menu_item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 4px;
    user-select: none;
    padding: 5px 7px;
}

.mod_lesson_menu_item:first-child {
    margin-left: 20px;
}

.mod_lesson_page_editor {
    width: 826px;
    position: absolute;
    top: 70px;
    left: 15px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px #666;
    box-sizing: border-box;
}

.mod_lesson_page_editor div input,
.mod_lesson_page_editor div textarea,
.mod_lesson_page_editor div select {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.mod_lesson_page_editor textarea {
    resize: vertical;
}

.mod_lesson_page_object_expand {
    position: absolute;
    top: 10px;
    right: 25px;
}

.mod_lesson_page_object_contract {
    position: absolute;
    top: 10px;
    right: 40px;
}

/*.mod_lesson_page_editor div:last-child {
    text-align: center;
}*/

.mod_lesson_page_object_menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mod_lesson_page_object_menu_thing ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;

    position: absolute;
    top: 30px;
    right: 0;
    width: 80px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.mod_lesson_page_object_menu_thing ul::before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    content: "";
}

.mod_lesson_page_object_menu_thing ul::after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #FFF;
    border-left: 6px solid transparent;
    content: "";
}

.mod_lesson_page_object_menu_thing ul li a {
    color: #333;
    display: block;
    padding: 3px 8px;
}

.mod_lesson_page_object_menu_thing ul li a:hover {
    color: #fff;
    background-color: #0070A8;
    text-decoration: none;
}

.mod_lesson_jump_circle {
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
}