/** General styles (scope: all of lesson) **/
.path-mod-lesson .contents,
.path-mod-lesson .standardtable,
.path-mod-lesson .mform .box.contents,
.path-mod-lesson .invisiblefieldset.fieldsetfix tr {text-align: left;}
.path-mod-lesson #layout-table {width: 100%;}
.path-mod-lesson .edit_buttons form,
.path-mod-lesson .edit_buttons input {display: inline;}
.path-mod-lesson .userinfotable .cell,
.path-mod-lesson .userinfotable .userpicture {vertical-align: middle;}
.path-mod-lesson .invisiblefieldset.fieldsetfix {display: block;}
.path-mod-lesson .slideshow {overflow: auto;padding: 15px;}
.path-mod-lesson .menu .menuwrapper {max-height: 400px;overflow: auto;vertical-align: top;margin-bottom: 10px;}
.path-mod-lesson .menu ul {list-style: none;padding: 5px 0px 0px 5px;margin: 0px;}
.path-mod-lesson .menu ul li {padding-bottom: 5px;}
.path-mod-lesson .skip {position: absolute;top: -1000em;width: 20em;}
.path-mod-lesson .branchbuttoncontainer.horizontal div,
.path-mod-lesson .branchbuttoncontainer.horizontal form {display: inline;}
.path-mod-lesson .firstpageoptions {width:30%;margin-left:35%;margin-top:1em;}
.path-mod-lesson .progress_bar_table,
.path-mod-lesson .progress_bar_completed,
.path-mod-lesson .progress_bar_todo {padding: 0;margin: 0;}
.path-mod-lesson .progress_bar_token {height: 20px;width: 5px;padding: 0;margin: 0;}
.path-mod-lesson .edit_pages_box .addlinks {margin:0;margin-bottom:1em;}
.path-mod-lesson .progress_bar_completed {background-color:green; text-align:right; vertical-align:middle; color:#FFF;}

.path-mod-lesson .resourcecontent {text-align: center;}

.path-mod-lesson .answeroption .fcheckbox > span {
    position: relative;
    float: left;
}

.path-mod-lesson .answeroptiongroup .fgroup > span {
    position: relative;
    width: 100%;
}

.path-mod-lesson .answeroption .fcheckbox input,
.path-mod-lesson .answeroptiongroup input {
    position: absolute;
    top: 2px;
    margin-top: 0px;
    left: 0;
}

.path-mod-lesson .answeroption .fcheckbox label,
.path-mod-lesson .mform .fitem.answeroptiongroup fieldset.fgroup label {
    padding-left: 20px;
    float: left;
}

.path-mod-lesson .answeroption .felement label p:last-child,
.path-mod-lesson .answeroptiongroup .felement label p:last-child {
    margin-bottom: 0px;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox > span {
    float: right;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox input,
.path-mod-lesson.dir-rtl .answeroptiongroup .fgroup input {
    left: inherit;
    right: 0;
}

.path-mod-lesson.dir-rtl .answeroption .fcheckbox label,
.path-mod-lesson.dir-rtl .mform .fitem.answeroptiongroup fieldset.fgroup label {
    padding-left: 0;
    padding-right: 20px;
    float: right;
}

/**
 * Style for view.php
 **/
#page-mod-lesson-view .password-form .submitbutton {display: inline;}
.path-mod-lesson .reviewessay {width:40%; border:1px solid #DDDDDD; background-color: #EEEEEE;}

.path-mod-lesson.dir-rtl .contents,
.path-mod-lesson.dir-rtl .standardtable,
.path-mod-lesson.dir-rtl .mform .box.contents,
.path-mod-lesson.dir-rtl .invisiblefieldset.fieldsetfix tr {text-align: right;}

/* Countdown timer. */
#lesson-timer {
    text-align: center;
}

.path-mod-lesson .essayungraded {
    background-color: #efcfcf;
}

.path-mod-lesson .essaygraded {
    background-color: #efefcf;
}

.path-mod-lesson .essaysent {
    background-color: #cfefcf;
}

.mod_lesson_main {
    position: relative;
    overflow: scroll;
    border: 1px solid #aaa;
    height: 1000px;
}

.mod_lesson_main .mod_lesson_page_element {

    /*position: absolute;  specify abs position! */
    /*position: absolute;*/
    border: 1px solid #000;
    border-radius: 6px 6px 2px 2px;
    margin: 0.5em 0;
    width: 240px;
    height: 100px;
}
/*.mod_lesson_main .mod_lesson_page_element > * {
    padding: 0.25em 0.5em;
}*/
.mod_lesson_main .mod_lesson_page_element header {
    border-bottom: 1px solid #000;
    font-weight: bold;
    text-align: center;
}
.mod_lesson_main .mod_lesson_page_element_body {
    font-size: 0.8em;
}

.path-mod-lesson .lessonline {
    z-index: -1;
    padding: 0;
    margin: 0;
    height: 1px;
    background-color: black;
    line-height: 1px;
    position: absolute;
    
    user-select: none;
}

.mod_lesson_menu {
    border: 1px solid #000;
    width: 200px;
    height: 130px;
    text-align: center;
    user-select: none;
}

.mod_lesson_menu_item {
    border: 1px solid #000;
    width: 120px;
    height: 25px;
    text-align: center;
    user-select: none;
}

.mod_lesson_page_editor {
    border: 1px solid #000;
    background-color: #fff;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    padding: 10px;

}

.mod_lesson_page_object_menu {
    position: relative;
    top: 35px;
    left: 5px;
}

.mod_lesson_page_object_menu_thing {
    position: relative;
    top: 17px;
    left: 20px;
    width: 80px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding: 5px;

}

.mod_lesson_page_object_menu_thing ul{
    list-style-type: none;
}