<div class="fitem">
    <div class="fitemtitle">
        <div class="fstaticlabel">{{label}} {{{helpButton}}} </div>
    </div>
    <div class="felement fstatic">
        {{{text}}}
        <input type="hidden" name="{{name}}" value="{{value}}" id="{{id}}">
    </div>
</div>
