<div id="fitem_{{id}}" class="fitem fitem_select {{#required}}fitem_required{{/required}}">
<div class="fitemtitle">
<label for="{{id}}">{{label}}</label>
{{{helpButton}}}
</div>
<div class="felement fselect">
    <select name="{{name}}" id="{{id}}" {{#required}}required{{/required}} {{#size}}size="{{size}}"{{/size}}>
        {{#options}}
            <option value="{{value}}" {{#selected}}selected{{/selected}}>{{text}}</option>
        {{/options}}
    </select>
</div>
</div>
